*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    width: 100%;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: auto; /* Mantiene la proporción de la imagen */
}

#container-slider
{
    position: relative;
    display: block;
    width: 100%;
}
#slider{
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    min-height: 500px;
}
#slider li{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100%;
    display: block;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    z-index: -1;
    opacity: 0;
}
#container-slider .arrowPrev, #container-slider .arrowNext{
    font-size: 30pt;
    color: #272643;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50px;
    z-index: 2;
}
#container-slider .arrowNext{
    left: initial;
    right: 50px !important;
}
.content_slider{
    padding: 15px 30px;
    color: #fff;
    width: 100%;
    height: 100%;
}
.content_slider div{
    text-align: center;
}
.content_slider h2{
    font-family: 'arial';
    font-size: 30pt;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.content_slider p {
    font-size: 15pt;
    font-family: 'arial';
    color: #fff;
    margin-bottom: 20px;
}
#slider li .content_slider{
    background: rgba(0, 0, 0, 0.50);
    padding: 10px 125px;
}
.content_slider{
   display: -webkit-flex;
   display: -moz-flex;
   display: -ms-flex;
   display: -o-flex;
   display: flex;
   justify-content: center;
   align-items: center;
}
.btnSlider{
    color: #fff;
    font-size: 15pt;
    font-family: 'arial';
    letter-spacing: 1px;
    padding: 10px 50px;
    border: 1px solid #ccc;
    background: rgba(37, 40, 80, 0.55);
    border-radius: 31px;
    text-decoration: none;
    transition: .5 all;
}
.btnSlider:hover{
    background: #111;
    border: 1px solid #111;
}
.listslider{
    position: absolute;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    bottom: 5%;
    list-style: none;
    z-index: 2;
    transform: translateX(-50%);
}
.listslider li{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    cursor: pointer;
    margin: 0 5px;
}
.listslider li a{
    background: #ccc;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: block;
}
.tem-select-slid{
    background: #fff !important;
}
@media screen and(max-width: 460px){
    .content_slider h2{
        font-size: 15pt !important;
    }
    .content_slider p{
        font-size: 12pt !important;
    }
    #container-slider .arrowPrev, #container-slider .arrowNext{
        font-size: 20pt;
    }
    #container-slider .arrowPrev{
        left: 15px;
    }
    #container-slider .arrowNext{
        right: 15px !important;
    }
    #slider{
        height: 400px;
        min-width: 400px;
    }
    #slider li .content_slider{
        padding: 10px 35px;
    }
    .btnSlider{
        padding: 10px 30px;
        font-size: 10pt;
    }

    /*burg*/
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #d35c5c;
    }

    .cerrar-menu {
        color: #db6565;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #ecececec;
    }
    /*fin bitg*/
    /*menu*/
    .product-card{
        width: 100%;
    }
    /**/


    /*galer*/
    .img-show{
        width: 90%;
    }
    .copy{
        bottom: 20px;
    }
    .bx.bx-x{
        top: 10px;
        font-size: 20px;
    }
    /*fingale*/
}

/*menu*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #bae8e8;
}
body{
    background-color: #e3f6f5;
}
.logo {
    max-width: 5rem;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: #000000;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}
/*menu*/
/*menumenu*/

footer{
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
}


.product-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
}

.product-card{
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    width: 200px;
    text-align: center;
    transition: trasform 0.3s ease;
}

/**/
.product-menu2{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
}

.product-card2{
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    width: 200px;
    text-align: center;
    transition: trasform 0.3s ease;
}
/**/

.product-card img{
max-width: 100%;
border-radius: 8px;
}
/**/
.product-card2 img{
    max-width: 100%;
    border-radius: 8px;
    }
/**/

.product-card h2{
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.product-card .price{
    font-weight: bold;
    color: #2c698d;
}

/**/
.product-card2 h2{
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.product-card2 .price{
    font-weight: bold;
    color: #2c698d;
}
/**/

.product-card button{
    padding: 0.5rem 1rem;
    background-color: #2c698d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3 ease;
}
/*menu prod*/
.product-card2 button{
    padding: 0.5rem 1rem;
    background-color: #8892b3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3 ease;
}
/**/

.product-card button:hover{
    background-color: #2c698d;
}

.product-card:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
}
/**/

/*gaini*/

.container-grid{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(6,1fr);
    grid-template-areas: 
    "img1 img2 img3 img3 img3"
    "img1 img2 img3 img3 img3"
    "img4 img4 img3 img3 img3"
    "img4 img4 img3 img3 img3"
    "img6 img6 img5 img5 img5"
    "img6 img6 img5 img5 img5";
    gap: 5px ;
}
.img{
width: 100%;
height: 100%;
object-fit: cover;

}

.img:hover{
    filter: grayscale(50%);
    cursor: pointer;
    transition: filter .5s;
}
.img-1{
    grid-area: img1;
}

.img-2{
    grid-area: img2;
}
.img-3{
    grid-area: img3;
}
.img-4{
    grid-area: img4;
}
.img-5{
    grid-area: img5;
}
.img-6{
    grid-area: img6;
}
.container-img{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .4 ease-in;
}

.move{
transform: translateX(0);
}
.img-show{
    height: 80%;
    transform: scale(0);
    display: block;
    object-fit: cover;
    transition: trasform .2 .4;
}
.show{
    transform: scale(1);
}

.copy{
    position: fixed;
    color: #fff;
    bottom: 40px;
}
.bx.bx-x{
    position: absolute;
    color: #fff;
    top: 20px;
    right: 10px;
    font-size: 40px;
    cursor: pointer;
}

/*galtefin*/